<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h3>Thank you for your order, <%= @order.email %>!</h3>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product Image</th>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <%= @line_items.each do |item| %>
      <tr>
        <td><img src="<%= item.product.image %>" alt="<%= item.product.name %>" width =82 height=100></td>
        <td><%= item.product.name %></td>
        <td><%= item.product.description %></td>
        <td><%= item.quantity %></td>
        <td> <%=humanized_money_with_symbol item.total_price_cents / 100.00 %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol @order.total %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
